# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
dist/
build/
*.egg

# Backend secrets
backend/.env

# Node / Expo
frontend/node_modules/
frontend/.expo/
frontend/dist/
frontend/web-build/
frontend/.cache/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# OS
.DS_Store
*.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
npm-debug.log*

# Expo EAS
.eas/
